Makefile
Makefile.in
/Makefile.am
/Makefile.am.common
/aclocal.m4
/autodocs-cc-base.ami
/autodocs-cc-off.ami
/autodocs-cc.ami
/autodocs-ycp.ami
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.ac
/install-sh
/missing
/pluglib-bindings.ami
